<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Go to list", lists_path , class: "btn btn-primary"%>
<%= image_tag("https://res.cloudinary.com/djtdmczaj/image/upload/v1703086023/rsb0fqbnysc62grxj0qi.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("3c607fdf2975b8378428d4bb1b1e0124") %>
